<form action="/artist-search" method="GET" class="search-box">
  <input
    type="text"
    name="artistSearch"
    placeholder="Enter artist name"
    class="input-field"
  />
  <button type="submit" class="submit-button">Search for an Artist</button>
</form>